
/* PORTFOLIO */


a{
    text-decoration: none;
}
li{
    list-style: none;
}

.body{
position: relative;
width: 1600px;
height: 1880px;
background: #FFFFFF;
}
body{
    font-family: 'Roboto', sans-serif;
}



/* WebStudio */
.title{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
color: #2196F3;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.accent-main{
    color:black;
}

/* Menu nav */

.headline_1{
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #212121;
}
.headline_1:hover{color:#2196F3;}

.headline_2{
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #212121;
}
.headline_2:hover{color: #2196F3;}

.headline_3{
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #212121
}
.headline_3:hover{color:#2196F3;}

.caption_1{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
}
.caption_1:hover{color: #2196F3;}
.caption_2{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
}
.caption_2:hover{color: #2196F3;}


/* Main nav */




.row{
}

.btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #212121;
    font-family: inherit;
}
.row .btn:active{color: #2196F3;}

.list{
padding-left: 215px;
padding-right: 215px;
padding-top: 174px;
}

.list-name{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}

.list-surname{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}

.img_1{}
.img_2{}
.img_3{}
.img_4{}
.img_5{}
.img_6{}
.img_7{}
.img_8{}
.img_9{}


/* Footer */


.footer{
background-color: #2F303A;
}
.title-down{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
color: #2196F3;
text-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}
.accent-footer{
    color:#FFFFFF;
}


/* Adress nav */


.address{
font-size: 14px;
font-style: normal;
color: #FFFFFF;
}
.mail{
font-size: 14px;
font-style: normal;
color: #FFFFFF99;
}
.tel{
font-size: 14px;
font-style: normal;
color: #FFFFFF99;
}



/* MAIN PAGE */


.body-main{
    background: #FFFFFF;
}



.hero{
background-color: #2F303A;
}

.page-main{
font-weight: 900;
font-size: 44px;
line-height: 60px;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.btn-main{
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: white;
font-family: inherit;
}

.content{
margin-bottom: 94px;
}

.main-content{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #212121;
    text-transform: uppercase;
}

.about-main{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}

.row-main{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}


.our-team{   
    background-color: #F5F4FA;
    }

.row-team{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-1{}

.team-name{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #212121;
}

.team-position{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #757575;
}

.team-2{}

.team-3{}

.team-4{}

.footer-main{
    background-color: #2F303A;
}